@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'CustomFont';
    src: url('/public/fonts/Switzer-Regular.otf') format('otf');
    src: url('/public/fonts/Switzer-Bold.otf') format('otf');
    src: url('/public/fonts/Switzer-Light.otf') format('otf');
    src: url('/public/fonts/Switzer-ExtralightItalic.otf') format('otf');
    src: url('/public/fonts/Switzer-Extrabold.otf') format('otf');
    src: url('/public/fonts/Switzer-Medium.otf') format('otf');
    src: url('/public/fonts/Switzer-Thin.otf') format('otf');
    src: url('/public/fonts/Switzer-Extralight.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

.swiper-overflow-container {
    background: red !important;
}

.swiper-overflow-container .container {
    background: red !important;

    overflow: visible; /* if your container has overflow by default */
}

.swiper-overflow-container .swiper-container {
    background: red;
    overflow: visible; /* remove swiper container overflow */
}

/* .swiper-wrapper {
    padding: 10rem ;
} */
