/* Custom Swiper button styles */
.my-swiper .swiper-button-prev {
    padding: 10px;
    margin-right: 100px !important;
    color: white;
    background-color: #202620;
    border-radius: 50px;
    font-size: 10px;
}

.my-swiper .swiper-button-next {
    padding: 10px;
    margin-left: 100px !important;
    color: white;
    background-color: #202620;
    border-radius: 50px;
}
