@font-face {
  font-family: boldFont;
  src: url(SF-Pro-Display-Bold.otf);
}
@font-face {
  font-family: mediumFont;
  src: url(SF-Pro-Display-Medium.otf);
}
@font-face {
  font-family: regularFont;
  src: url(SF-Pro-Display-Regular.otf);
}
@font-face {
  font-family: lightFont;
  src: url(SF-Pro-Display-Light.otf);
}
@font-face {
  font-family: semiboldFont;
  src: url(SF-Pro-Display-Semibold.otf);
}
@font-face {
  font-family: thinFont;
  src: url(SF-Pro-Display-Thin.otf);
}
body {
  margin: 0px;
}
.mp_section,
.mp_container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.mp_img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

/* section1 */
.mp_section1 {
  position: relative;
}
.mp_section1Text {
  position: absolute;
  top: 50%;
  width: 100%;
  box-sizing: border-box;
  margin-top: -150px;
  text-align: center;
}
.mp_section1Text h1 {
  color: #fff;
  font-family: BoldFont;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: -1.44px;
  margin: 0;
}
.mp_section1Text h3 {
  color: #fff;
  font-family: "thinFont";
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.96px;
  margin: 0;
  font-weight: normal !important;
}
.mp_section1Text p {
  color: #fff;
  text-align: center;
  font-family: mediumFont;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.48px;
  margin-top: 8px 0px 0px 0px;
}
/* section1 ends */

/* section 2 */
.mp_section2 {
  position: relative;
}
.mp_section2Text {
  position: absolute;
  width: 600px;
  text-align: center;
  top: 50%;
  margin-top: -190px;
  left: 10%;
}
.mp_section2Text h3 {
  color: #fff;
  font-family: boldFont;
  font-size: 36px;
  line-height: 1.2; /* 38.889% */
  letter-spacing: -0.72px;
  margin: 0px;
}
.mp2_text2 {
  color: #fff;
  font-family: lightFont;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: -1.44px;
  margin: 32px 0px;
}
.mp2_text3 {
  color: #fff;
  font-family: mediumFont;
  font-size: 24px;
  line-height: 1.2; /* 58.333% */
  letter-spacing: -0.48px;
}
.mp2_text4 {
  color: #fff;
  font-family: thinFont;
  font-size: 24px;
  line-height: 1.2; /* 58.333% */
  letter-spacing: -0.48px;
}
/* section 2 ends */

/* section3 */
.mp_section3 {
  padding: 52px 0px;
  text-align: center;
}
.mp_section3 h3 {
  width: 100%;
  color: #818181;
  font-family: "mediumFont";
  font-size: 52px;
  /* font-style: normal; */
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 36px;
}
.mps3_itemsOuter {
  display: flex;
  width: 840px;
  margin: 0 auto;
  gap: 32px;
  justify-content: center;
}
.mps3_items p span {
  color: #929292;
  text-align: center;
  font-family: regularFont;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}
/* section 3 ends */

/* section 4 */
.mp_section4 {
  background-color: #76726c;

  align-items: stretch;
}
.mps4_text {
  width: 60%;
  box-sizing: border-box;
  padding: 140px 100px;
  text-align: center;
  align-self: center;
}

.mps4_img {
  width: 40%;
  box-sizing: border-box;
}
.mps4_img img {
  object-fit: cover;
  height: 100%;
}
.mps4_text h3 {
  color: #fff;
  font-family: boldFont;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.72px;
  margin: 0px;
}
.mps4_text2 {
  color: #fff;
  font-family: lightFont;
  font-size: 72px;
  line-height: 1.2;
  margin: 12px 0px 24px 0px;
}
.mps4_text3,
.mps4_text4 {
  color: #fff;
  font-family: lightFont;
  font-size: 24px;
  line-height: 1.2;
  margin: 0px;
}
.mps4_text3 span,
.mps4_text4 span {
  font-family: mediumFont;
}
.mps4_icon span {
  background-color: #918e89;
  width: 50px;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 24px;
  font-family: "lightFont";
  text-align: center;
}

/* section 4 ends */

/* section 5 */
.mp_section5 {
  background-color: #afa796;
  padding: 50px 0px;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 700px;
  color: #fff;
}
.mp_section5 h3 {
  font-family: thinFont;
  font-size: 60px;
  font-style: normal;
  font-weight: normal;
  line-height: 50px;
  margin: 0px;
  background-image: url(images/Vector.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  /* background-position: right; */
  padding-bottom: 18px;
}
.mp_section5 p {
  font-family: thinFont;
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  margin: 10px 0px 0px 0px;
}

/* section 5 ends */

/* section 6 */
.mp_section6 {
  text-align: center;
  align-items: stretch;
}
.mps6_left,
.mps6_right {
  width: 50%;
  box-sizing: border-box;
  padding: 80px 0px;
}
.mps6_left {
  align-self: center;
}
.mps6l_text1 {
  color: #5e5e5e;
  text-align: center;
  font-family: regularFont;
  font-size: 26px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  margin: 0px;
}
.mps6l_text2 {
  font-style: normal;
  font-weight: normal;
  color: #5e5e5e;
  font-family: thinFont;
  font-size: 74px;
  line-height: 1.2;
  margin: 24px 0px;
}
.mps6l_text3 span {
  display: inline-block;
  color: #fff;
  border-radius: 39px;
  background: rgba(175, 167, 150, 0.81);
  text-align: center;
  font-family: thinFont;
  font-size: 38px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  padding: 0px 16px;
}
.mps6l_text4 {
  color: #5e5e5e;
  font-family: regularFont;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
}
.mps6l_text5 {
  color: #5e5e5e;
  text-align: center;
  font-family: thinFont;
  font-size: 28px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
}
.msp6_right {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  gap: 24px;
  padding: 80px 24px;
  box-sizing: border-box;
  background-color: #efeeeb;
}
.msp6_right_items {
  width: calc(50% - 24px);
}
.msp6r_text1 {
  width: 100%;
  text-align: center;
  color: #000;
  font-family: regularFont;
  font-size: 17px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 0px;
  cursor: pointer;
}
.msp6_right_items p span {
  color: #000;
  text-align: center;
  font-family: regularFont;
  font-size: 15px;
  font-style: normal;
  font-weight: noraml;
  line-height: 1.2;
}

/* section 6 ends */

/* section 7 */
.mp_section7 {
  padding: 36px 50px;
  gap: 12px;
}
.mp_section7 h3 {
  width: 100%;
  color: #77726b;
  font-family: thinFont;
  font-size: 52px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  margin: 0px;
}
.mps7_items {
  background-color: #efeeeb;
  padding: 12px;
  box-sizing: border-box;
  width: calc(20% - 12px);
  border-radius: 8px;
  text-align: center;
}
.mps7_items p {
  color: #77726b;
  text-align: center;
  font-family: boldFont;
  font-size: 20px;
  font-style: normal;
  font-weight: noraml;
  line-height: 1.2;
  margin-bottom: 32px;
}
.mps7_icons p {
  color: #7b766f;
  margin: 0px;
  font-family: mediumFont;
  font-size: 16px;
  font-style: normal;
  font-weight: noraml;
  line-height: 1.2;
}
.mps7_icons {
  margin-bottom: 32px;
}
.mps7_icons img {
  width: auto;
  height: 60px;
}
/* section 7 ends */

/* section 8 */
.mp_section8 {
  position: relative;
}
.mp_section8Text {
  position: absolute;
  width: 600px;
  text-align: left;
  left: 6%;
  border-radius: 17px;
  background: #999385;
  padding: 36px;
  box-sizing: border-box;
  top: 50%;
  margin-top: -290px;
}
.mp8_text1 {
  color: #e5e4da;
  margin: 0px;
  font-family: semiboldFont;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}
.mp_section8Text h3 {
  color: #e5e4da;
  font-family: boldFont;
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  margin: 24px 0px;
}
.mp_section8Text h3 span {
  font-family: thinFont;
}
.mp8_text2 {
  color: #fff;

  font-family: regularFont;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 60px;
}
.mp8_text3 {
  color: #fdfcfc;

  font-family: regularFont;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}
/* section 8 ends */

/* section 9 */
.mp_section9 {
}
.mp_section9 .mps4_text {
  width: 30%;
  padding: 0px;
}
.mp_section9 .mps4_img {
  width: 70%;
}

.mps9_text {
  color: #fff;
  font-family: thinFont;
  font-size: 44px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  text-align: left;
  padding: 0px 32px;
}
.mps9_text span {
  font-family: mediumFont;
}
.mps9_text2 {
  text-align: left;
  padding: 0px 32px;
  color: #fff;
  font-family: mediumFont;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  margin: 0px;
  margin-top: 100px;
}
/* section 9 ends */

/* section 10 */
.mp_section10 {
  padding: 64px 0px;
}
.mps_gallery {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.mps_galleryitems {
  width: calc(50% - 24px);
  box-sizing: border-box;
}
.mps_galleryitems img {
  border-radius: 16px;
  margin-bottom: 24px;
}
.mps_galleryitems img:last-child {
  margin-bottom: 0px;
}

/* section 10 ends */

/* section 12 */
.mp_section12 {
  background-color: #77726b;
}
.mps12_heading,
.mps12_content {
  text-align: center;
  color: #fff;
  width: 100%;
}
.mps12_heading h3 {
  font-family: regularFont;
  font-size: 50px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  margin: 40px 0px 24px 0px;
}
.mps12_heading p {
  font-family: thinFont;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 32px;
  margin-bottom: 32px;
}
.mps12_content {
  padding: 50px;
  box-sizing: border-box;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  background-image: url(images/newbanner5.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 40%;
}
.mps12_content h3 {
  width: 100%;
  color: #fff;
  font-family: "regularFont";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 30px;
}
.mps12_box {
  background-color: #fff;
  width: calc(33% - 24px);
  border-radius: 30px;
  color: #74716a;
  padding: 50px 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mps12_box p:first-child {
  color: #74716a;
  font-family: regularFont;
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  line-height: 41px;
  margin-top: 0px;
}
.mps12_box p:last-child {
  color: #74716a;
  font-family: regularFont;
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  margin-bottom: 0px;
}

/* section 12 ends */

/* section 13 */
.mp_section13 {
  background-color: #55534e;
}
/* section 13 ends */

/* section 14 */
.mp_section14 {
  padding: 72px 0px;
  background-color: #cac7bb;
  gap: 24px;
}
.mps14_items {
  width: calc(40% - 24px);
  background-color: #77726b;
  padding: 60px 100px;
  box-sizing: border-box;
  border-radius: 0px 20px 20px 0px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.mps14_items h3 {
  color: #cac7bb;
  text-align: center;
  font-family: thinFont;
  font-size: 48px;
  font-style: normal;
  font-weight: normal;
  line-height: 62px;
  margin: 0px;
}
.mps14_items p {
  color: #cac7bb;
  font-family: thinFont;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
}
.mps14_items2 {
  width: calc(30% - 24px);
  border-radius: 20px;
}
.mps14_items2 img {
  object-fit: cover;
  height: 100%;
}
/* section 14 ends */

/* section 15 */
.mp_section15 {
  background-color: #77726b;
  padding: 52px;
  box-sizing: border-box;
  column-gap: 40px;
  row-gap: 80px;
}
.mp_section15 h3 {
  width: 100%;
  color: #cac7bb;
  text-align: left;
  font-family: thinFont;
  font-size: 52px;
  font-style: normal;
  font-weight: noraml;
  line-height: 50px;
  margin: 0px;
}
.mps15_icons {
  width: calc(20% - 40px);
}
.mps15_icons p:nth-child(2) {
  color: #cac7bb;
  font-family: mediumFont;
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 10px;
}
.mps15_icons p:last-child {
  color: #cac7bb;
  font-family: regularFont;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
}
.mps15_icons img {
  height: 54px;
  width: auto;
}
/* section 15 ends */

/* section 16 */
.mp_section16 {
}
.mp_section16 .mp_section8Text {
  background-color: #f0f0ec;
  width: 250px;
  padding: 24px;
  margin-top: -254px;
}
.mp_section16 .mp8_text1 {
  color: #9a9384;
  font-family: regularFont;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}
.mp_section16 .mp8_text1 span {
  font-family: boldFont;
}
.mp_section16 .mp8_text2 {
  color: rgba(154, 147, 132, 0.5);
  font-family: boldFont;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 16px;
  margin-top: 270px;
}
.mp_section16 .mp8_text3 {
  color: #9a9384;
  font-family: regularFont;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  margin: 0px;
}

/* section 16 ends */

/* section 17 */
.mp_section17 {
  padding: 60px 36px;
  box-sizing: border-box;
  background-color: #cac6ba;
  gap: 100px;
  justify-content: center;
}
.mps17_left,
.mps17_right {
  width: calc(50% - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mps17_left {
  border-radius: 56px;
  background-color: #78736b;
  padding: 32px;
  box-sizing: border-box;
  text-align: center;
}
.mps17_left img {
  margin: 100px 0px;
}
.mps17_left p:first-child {
  margin: 0px;
}
.mps17_left p:nth-child(2) {
  color: #cac6ba;
  font-family: thinFont;
  font-size: 50px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  margin: 0px 0px 24px 0px;
}
.mps17_left p:last-child {
  color: #cac6ba;
  font-family: thinFont;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  margin: 0px;
}

.mps17_t1 {
  color: rgba(120, 115, 107, 0.5);
  font-family: boldFont;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  margin: 0px;
}
.mps17_t2 {
  color: #78736b;
  font-family: thinFont;
  font-size: 50px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  margin-top: 12px;
  margin-bottom: 80px;
}
.mps17_t3 {
  color: #78736b;
  font-family: thinFont;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  max-width: 500px;
}
.mps17_t4 {
  color: #78736b;
  font-family: mediumFont;
  font-size: 16px;
  font-style: normal;
  font-weight: noraml;
  line-height: 1.2;
  margin: 90px 0px 0px 0px;
}
/* section 17 ends */

/* section 18 */
.mp_section18 {
  padding: 50px 24px 50px 36px;
  background-color: #cac6ba;
  gap: 12px;
  /*justify-content:center;*/
  margin-top: -1px;
}
.mps18_left {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: calc(80% - 12px);
}
.mps18_items {
  box-sizing: border-box;
  width: calc(25% - 12px);
}
.mps18_it1 {
  color: #78736b;
  font-family: mediumFont;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 0px;
  margin-top: 10px;
}
.mps18_it2 {
  color: rgba(120, 115, 107, 0.7);
  font-family: lightFont;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 0px;
}

.mps18_rhitem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  line-height: 26px;
  width: calc(20% - 12px);
}
.mps18_rhitem div {
  color: #78736b;
  font-family: lightFont;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
}
.mps18_rhitem div span {
  font-family: boldFont;
}
/* section 18 ends */

/* section 19 */
.mp_section19 {
  background-color: #cac6ba;
  margin-top: -4px;
  padding-right: 24px;
}
.mps19_left {
  width: 70%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.msp19_item {
  width: calc(60% - 12px);
  box-sizing: border-box;
}

.msp19_item2 {
  width: calc(20% - 12px);
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  align-items: center;
}
.msp19_item2 div {
  position: relative;
  padding-left: 24px;
}
.msp19_item2 div p {
  color: rgba(120, 115, 107, 0.5);
  font-family: regularFont;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}
.msp19_item2 div p:first-child {
  position: absolute;
  transform: rotate(270deg);
  top: 50%;
  margin-top: -30px;
  left: -21px;
}
.msp19_item2 div p:last-child {
  text-align: center;
}

.mps19_right {
  width: 30%;
  box-sizing: border-box;
  text-align: right;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  line-height: 28px;
  padding: 32px 12px;

  color: #78736b;
  font-family: lightFont;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
}
.mps19_right img {
  width: auto;
}
.mps19_right p span,
.mps19_right div span {
  font-family: boldFont;
}
.mps19_right div b {
  color: #78736b;
  text-align: right;
  font-family: "thinFont";
  font-size: 50px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  padding-bottom: 16px;
  display: inline-block;
  width: 100%;
}
/* section 19 ends */

/* section 26 */
.mp_section26 .mps17_left img {
  margin: 0px;
  max-height: 320px;
  width: auto;
  margin: 50px 0px;
}
.mp_section26 .mps17_t2 {
  margin-bottom: 0px;
}
.mp_section26 .mps17_t4 {
  margin: 0px;
}

/* section 26 ends */

/* section 39 */

.mp_section39.mp_section16 .mp8_text2 {
  margin-top: 310px;
}

/* ends */
/* section 40 */

.mp_section40 .mps19_left {
  width: 65%;
}

.mp_section40 .mps19_right {
  width: 35%;
}
.mp_section40 .mps19_right img {
  max-height: 450px;
}
/* ends */

/* section 42 */
.mp_section42 .mp_section2Text {
  margin-top: -96px;
}
/* section 42 ends */

/* section 43 */
.mp_section43 {
  background-color: #78736b;
  min-height: 700px;
  position: relative;
}
.mp_section43Text {
  color: white;
  position: absolute;
  left: 6%;
  bottom: 8%;
  text-align: left;
}
.mp_section43Text h3 {
  color: #fff;
  font-family: boldFont;
  font-size: 70px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  margin: 0px;
}
.mp_section43Text p {
  color: #fff;

  font-family: thinFont;
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  margin: 0px;
}
/* section 43 ends */

/* section 44 */
.mp_section44 {
  position: relative;
}
.mp_section44Text {
  position: absolute;
  top: 60px;
  left: 60px;
  color: #fff;
}
.mp_section44Text h3 {
  margin: 0px;
  color: #cac7bb;
  font-family: lightFont;
  font-size: 50px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 24px;
}
.mp_section44Text p {
  color: #cac7bb;
  font-family: thinFont;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  max-width: 180px;
}
/* section 44 ends */
